@use 'src/styles/mixins';

.inscription {
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -1rem;

    @include mixins.tablet {
        justify-content: center;
        width: 70%;
        max-width: 600px;
    }

    @include mixins.desktop {
        width: 75%;
        max-width: 800px;
        margin: auto;
        margin-top: -4rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        position: relative;

        @include mixins.desktop {
            margin-top: 1rem;
        }

        @include mixins.lg-desktop {
            margin-top: 2rem;
        }
    }

    .input, .textarea {
        @include mixins.desktop {
            margin-right: 5%;
            margin-bottom: 0;
        }
    }

    .infobox {
        margin-top: 1rem
    }
}   