@use 'src/styles/mixins';
@use 'src/styles/vars';

.nav {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background: vars.$mediumGreen;
    z-index: 10;
    transform: translateY(-60%);
    transition: transform 1s;

    @include mixins.tablet {
        transform: translateY(12.5%);
        right: 1rem;
        width: 70%;
        z-index: 1000;
        background: transparent;
    }

    @include mixins.lg-desktop {
        left: 0;
        right: 100%;
        top: 30%;
        width: 15%;
    }

    &--open {
        transform: translateY(40%);
    }


    &__list {
        width: 50%;
        margin: auto;
        text-align: center;

        @include mixins.tablet {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;
        }

        @include mixins.lg-desktop {
            flex-direction: column;
        }
    }

    &__list-item {
        padding: 1.5rem 0;
        border-top: 1px solid vars.$dark;

        &:hover {
            color: vars.$light;
        }

        @include mixins.tablet {
            border: none;
            margin: 0 1rem;
        }
    }
}