@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: vars.$mainTypo;
  background: vars.$light;
  color: vars.$dark;
  width: 100%;
  height: 100%;
}

