@use 'src/styles/vars';

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(vars.$dark, .5);
    border-radius: 1rem;
    margin: 2rem 0;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        transform: scale(1.02);
    }

    &:hover &__image {
        opacity: .75;
    }

    &__image {
        height: 12rem;
        border-radius: 1rem 1rem 0 0;
        cursor: pointer;
    }

    &__content {
        flex: 1;
        padding: .5rem 1.2rem 1.2rem 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #eee;
    }

    &__price {
        align-self: flex-end;
        margin-bottom: .5em;
        font-style: italic;
    }

    &__title {
        font-size: 1.2rem;
        font-family: vars.$importantTypo;
        margin-bottom: .5rem;
        font-weight: 700;
    }

    &__description {
        text-align: justify;
        margin: 1rem 0;
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__tags {
        display: flex;
    }

    &__form {
        align-self: flex-end;
    }

    &__input--number {
        width: 2.5em;
        padding: .2rem;
        border: 1px solid vars.$dark;
        cursor: pointer;
    }

    &__input--submit {
        background: vars.$mediumGreen;
        padding: .2rem .7rem;
        margin: 0 .5rem;
        border: 1px solid vars.$mediumGreen;
        cursor: pointer;
    }
}

