
@use 'src/styles/mixins';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@include mixins.lg-desktop {
  .app__page--desktop {
    width: 85%;
    margin-left: 15%;
  }
}