@use 'src/styles/mixins';

.contact {
    width: 100%;
    max-width: 900px;

    .title {
        font-size: 1.4rem;

        @include mixins.tablet {
            font-size: 2.1rem;
            margin-bottom: 4rem;
        }

        @include mixins.desktop {
            margin-bottom: 6rem;
        }
    }

    .input, .textarea {
        @include mixins.desktop {
            margin-right: 5%;
        }
       
    }
}