@use 'src/styles/mixins';

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    max-width: 500px;
    height: 100%;
    margin: auto;
    font-size: .9rem;

    @include mixins.tablet {
        width: 60%;
    }

    @include mixins.desktop {
        width: 80%;
        max-width: unset;
        font-size: 1.1rem;
    }

}

