@use 'src/styles/vars';
@use 'src/styles/mixins';

.commandbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1rem;
    padding: .7rem 0;

    @include mixins.lg-desktop {
        margin: 0 1.5rem;
    }

    .input {
        margin: 0 1rem;

        &__input {
            border-radius: 1.5rem;
            height: unset;
            padding: .5rem 1rem;
            background: vars.$light;
            box-shadow: none;
            border: 1px solid vars.$inputGrey;
        }

        &__label {
            display: none;
        }
    }
}